In [21]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\katra\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\katra\anaconda3\lib\site-packages (from selenium) (1.25.9)

In [ ]:
#Question1

In [2]:
import selenium 
import pandas as pd
from selenium import webdriver

In [3]:
driver=webdriver.Chrome("desktop/chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [6]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']")
search_btn.click()

In [7]:
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [8]:
driver.get(url)

In [9]:
job_title=[]
company_names=[]
locations_list=[]
experience_list=[]

In [10]:
titles_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="fd52aa01-a9ff-4c37-bf76-51e34cfa76cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="f1813790-1e2d-4cad-b068-a628131f0929")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="54980082-fdfb-427d-8989-302e0644380c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="3938cc49-0bd2-4b21-a88e-24b70e939fa8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="d482343e-88a0-488c-ae0f-6a8915c1130a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="52e5305b-16e5-4459-8baf-1cea9e77c1e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="af5bc0e8-dc7b-428e-8740-bc68151fc3db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="c78b16a0-efe9-4d92-8cc5-18600f284fb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="397cdb24-4841-4a28-81f5-096caff9bf3d")>]

In [11]:
for i in titles_tag:
    job_title.append(i.text)
job_title[0:9]

['Data Analyst - SAP',
 'Hiring Data Analysts on Contract',
 'Senior Data Analyst',
 'Data Analyst',
 'Business / Data Analyst',
 'Intern Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'SENIOR DATA ANALYST']

In [12]:
company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="82face46-c7fe-4521-9c72-bf0f3ddb5806")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="c33fc252-1177-45d7-8581-75560a8c4545")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="e6c178d5-cfab-413f-af91-4e0878a91797")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="8f1adaa4-c0a1-41e4-9af6-5c65aaccf143")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="d06da4ea-776a-4135-aeab-6bb633c42039")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="bdb9a07d-3082-4c78-94c4-b77046431f9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="eda2d46e-53ba-4644-8587-4767b12d2105")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="aafaf4c4-d51e-422e-86f3-db072d3541e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="adc753d7-e457-40e0-8786-f1a24fcca917")>]

In [13]:
for i in company_tag:
    company_names.append(i.text)
company_names[0:9]

['Boston Scientific Corporation',
 'Flipkart Internet Private Limited',
 'Schneider Electric',
 'Shell India Markets Private Limited',
 'IBM India Pvt. Limited',
 'Outsource Big Data',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Reliance Jio Infocomm Ltd.',
 'McAfee Software (India) Pvt. Ltd']

In [14]:
loc_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="72a4e9a6-5479-4b31-a92c-be290e0a159f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="e16d0197-ca51-4680-8688-7d6b07e09fb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="10a47f71-6c46-450b-97a0-de3c254f38b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="ab9e2d51-4bfa-44eb-ae2d-91c04eb9f9cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="7f8fa1bc-2768-4892-b1e5-12b0c8d895f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="8f8622e5-548a-469c-9cbf-c68e5b9ecb09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="bfc003b9-cf70-4916-a89c-fdb373868a30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="afa3cf17-db18-403f-99ee-e5b22f73ca52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="184c82a8-742d-493c-ae0e-47ea55dbf593")>]

In [15]:
for i in loc_tag:
    locations_list.append(i.text)
locations_list[0:9]

['Pune, Delhi, Bengaluru, Gurgaon',
 'Bengaluru',
 'Bengaluru / Bangalore',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [16]:
exp_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="3839270f-de4b-4b4c-aa01-8e1713550f59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="1fe66566-0877-4341-9f6b-dd737161b7fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="c1fdde5b-f6f3-47f2-b4a1-231b27c63d27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="4c555894-2c10-41f7-97f9-cf4ae7e7cdcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="e4504d39-563a-46a6-a36d-d1ec9df09e30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="e2d1cdaf-f49e-479d-aa3f-71988f65fae5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="b9e82dff-724f-4e1a-b717-17160c3fac33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="8fa0769d-e796-4fad-b2c6-df3cc1432ed0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08baaac6ad870620d81d0ef6cdf7dcda", element="b6c7c146-36ac-41ad-9d3e-dc22e3740016")>]

In [17]:
for i in exp_tag:
    experience_list.append(i.text)
experience_list[0:9]

['3-5 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '5-8 Yrs',
 '2-4 Yrs',
 '0-1 Yrs',
 '4-6 Yrs',
 '8-9 Yrs',
 '7-12 Yrs']

In [18]:
import pandas as pd 
DataAnalyst=pd.DataFrame()
DataAnalyst['JOB_NAME']=job_title[0:9]
DataAnalyst['COMPANY']=company_names[0:9]
DataAnalyst['JOB_LOCATION']=locations_list[0:9]
DataAnalyst['EXPERIENCE']=experience_list[0:9]

In [19]:
DataAnalyst

,JOB_NAME,COMPANY,JOB_LOCATION,EXPERIENCE
0,Data Analyst - SAP,Boston Scientific Corporation,"Pune, Delhi, Bengaluru, Gurgaon",3-5 Yrs
1,Hiring Data Analysts on Contract,Flipkart Internet Private Limited,Bengaluru,2-5 Yrs
2,Senior Data Analyst,Schneider Electric,Bengaluru / Bangalore,2-5 Yrs
3,Data Analyst,Shell India Markets Private Limited,Bengaluru,5-8 Yrs
4,Business / Data Analyst,IBM India Pvt. Limited,Bengaluru,2-4 Yrs
5,Intern Data Analyst,Outsource Big Data,Bengaluru,0-1 Yrs
6,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bengaluru,4-6 Yrs
7,Data Analyst,Reliance Jio Infocomm Ltd.,Bengaluru,8-9 Yrs
8,SENIOR DATA ANALYST,McAfee Software (India) Pvt. Ltd,Bengaluru,7-12 Yrs

In [ ]:
#Question3

In [28]:
import selenium 
import pandas as pd
from selenium import webdriver

In [29]:
driver=webdriver.Chrome("desktop/chromedriver.exe")

In [30]:
driver.get("https://www.naukri.com/")

In [31]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Delhi")

In [32]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']")
search_btn.click()

In [33]:
url="https://www.naukri.com/data-scientist-jobs-in-delhi?k=data%20scientist&l=delhi"

In [34]:
driver.get(url)

In [35]:
job_title=[]
company_names=[]
locations_list=[]
experience_list=[]

In [36]:
titles_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6df3cff48e86259bf65c92597fbb666a", element="26cdf904-d003-4987-99aa-cc34d695a344")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6df3cff48e86259bf65c92597fbb666a", element="8e254f95-6efa-4d11-beb0-3f9fa59cfdbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6df3cff48e86259bf65c92597fbb666a", element="4339f370-03cb-4985-b41f-d60377ba3fdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6df3cff48e86259bf65c92597fbb666a", element="2790f007-6fed-4bba-83a9-3567c682f277")>]

In [37]:
for i in titles_tag:
    job_title.append(i.text)
job_title[0:4]

['Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Sr Data Scientist',
 'Associate Data Scientist | 0-2 Years | Gurgaon',
 'Data Scientist']

In [38]:
company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6df3cff48e86259bf65c92597fbb666a", element="beba292e-6409-48e1-9626-0c181ba823d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6df3cff48e86259bf65c92597fbb666a", element="7c0551e7-406e-4e82-b689-c5374dfcb0ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6df3cff48e86259bf65c92597fbb666a", element="191eb875-e17c-4d43-9223-431f17bb39f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6df3cff48e86259bf65c92597fbb666a", element="85a61a1b-fbef-4f93-9779-afbb00d68eae")>]

In [39]:
for i in company_tag:
    company_names.append(i.text)
company_names[0:4]

['CES Ltd.',
 'Concentrix Daksh Services India Private Limited.',
 'Xtage Technologies Private Limited',
 'IBM India Pvt. Limited']

In [40]:
loc_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6df3cff48e86259bf65c92597fbb666a", element="96f3a2cf-ca41-4bbe-84cf-3a893e297f21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6df3cff48e86259bf65c92597fbb666a", element="487407e4-fac7-4a72-859f-79973b4d5cbd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6df3cff48e86259bf65c92597fbb666a", element="164294f9-a0e6-4737-9022-13b1c05b1041")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6df3cff48e86259bf65c92597fbb666a", element="107407ba-6652-4644-92a1-08e392f5b854")>]

In [41]:
for i in loc_tag:
    locations_list.append(i.text)
locations_list[0:4]

['Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Hyderabad, Kolkata',
 'Pune, Mumbai, Bengaluru, Gurgaon, Kolkata',
 'Delhi NCR, Gurgaon',
 'Gurgaon Gurugram']

In [42]:
exp_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6df3cff48e86259bf65c92597fbb666a", element="c272d85b-b9f0-4374-8b27-f4c18b43d546")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6df3cff48e86259bf65c92597fbb666a", element="5b195d41-0de7-4958-8ee7-d67c05f46155")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6df3cff48e86259bf65c92597fbb666a", element="881e83d4-339d-4c78-8dee-fa5198ae3be6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6df3cff48e86259bf65c92597fbb666a", element="82bcb2b2-ac7f-4860-846d-68b304779b2d")>]

In [43]:
for i in exp_tag:
    experience_list.append(i.text)
experience_list[0:4]

['2-7 Yrs', '4-9 Yrs', '0-2 Yrs', '6-8 Yrs']

In [44]:
import pandas as pd 
DataScientist=pd.DataFrame()
DataScientist['JOB_NAME']=job_title[0:4]
DataScientist['COMPANY']=company_names[0:4]
DataScientist['JOB_LOCATION']=locations_list[0:4]
DataScientist['EXPERIENCE']=experience_list[0:4]

In [45]:
DataScientist

,JOB_NAME,COMPANY,JOB_LOCATION,EXPERIENCE
0,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",2-7 Yrs
1,Sr Data Scientist,Concentrix Daksh Services India Private Limited.,"Pune, Mumbai, Bengaluru, Gurgaon, Kolkata",4-9 Yrs
2,Associate Data Scientist | 0-2 Years | Gurgaon,Xtage Technologies Private Limited,"Delhi NCR, Gurgaon",0-2 Yrs
3,Data Scientist,IBM India Pvt. Limited,Gurgaon Gurugram,6-8 Yrs

In [ ]:
#Question7

In [24]:
import selenium 
import pandas as pd
from selenium import webdriver

In [25]:
driver=webdriver.Chrome("desktop/chromedriver.exe")

In [28]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")

In [29]:
Rating=[]
Review_summary=[]
full_review=[]

In [30]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"

In [31]:
driver.get(url)

In [49]:
rate_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rev_tag=driver.find_elements_by_xpath("//P[@class='_2-N8zT']")
full_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [56]:
for i in rate_tag:
    Rating.append(i.text)
Rating[0:3]

['5', '5', '5']

In [58]:
for i in rev_tag:
    Review_summary.append(i.text)
Review_summary[0:3]

['Perfect product!', 'Great product', 'Highly recommended']

In [61]:
for i in full_tag:
    full_review.append(i.text)
full_review[0:3]

['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !']

In [62]:
import pandas as pd
Review_iphone=pd.DataFrame()
Review_iphone['RATING']=Rating[0:3]
Review_iphone['REVIEW_SUMMARY']=Review_summary[0:3]
Review_iphone['FULL_REVIEW']=full_review[0:3]

In [63]:
Review_iphone

,RATING,REVIEW_SUMMARY,FULL_REVIEW
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...